* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: black;
    /* margin: 5px; */
}

nav {
    height: 60px;
    border: 1px solid rgb(102, 99, 99);
    background-color: white;
    justify-content: space-between;
    padding: 0px 20px;
    position: sticky;
    z-index: 1;
    top: 0;
}

.left {
    max-height: 130vh;
    width: 15vw;
    /* border: 2px solid black; */
    padding: 10px;
    display: flex;
    gap: 20px;
    position: relative; 
    background-color: white;
}

.scrollbar {
    overflow-y: auto; 
    width: 100%;
    height: 100%;
}


.scrollbar::-webkit-scrollbar {
    display: none; 
}

.scrollbar:hover::-webkit-scrollbar {
    display: block; 
    width: 8px; 
    background-color: #f4e7e7;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent; 
    border-radius: 8px;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #545252; 
    border-radius: 8px; 
    height: 20px; 
}

.logos img{
    /* width: 30px; */
    height: 30px;
}
.logos{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    width: 100%;
}
.logos span{
    display: flex;
    align-items: center;
    flex-direction: row;
   gap: 20px;
   padding: 10px;
   border-radius: 15px;
   cursor: pointer;
}
.logos span:hover{
    background-color: #f2f2f2;
}

.right {
    height: 100%;
    width: 85vw;
    /* border: 2px solid black; */
}

#hero {
    /* border: 2px solid red; */
}

.logo {
    width: 90px;
}
.logo1 {
    width: 90px;
    display: none;
}

.hamburger {
    width: 30px;
}
.hamburger1 {
    display: none;
}

#search {
    padding: 10px 30px;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #9f9f9f;
    font-size: 16px;
    width: 500px;
    outline: none;
}

#search:focus {
    border-color: blue;
}

.micsvg {
    border-radius: 50%;
    background-color: #f2f2f2;
    border: 1px solid #9f9f9f;
    padding: 7px;
}

.searchsvg {
    border: 0.5px solid #9f9f9f;
    background-color: #f2f2f2;
    border-radius: 0px 20px 20px 0px;
    padding: 8.8px 25px;
}

/* 
.searchContainer::after {
    content: url('search.svg');
    content-visibility: visible;
    border: 0.5px solid #9f9f9f;
    background-color: #f2f2f2;
    border-radius: 0px 20px 20px 0px;
    padding: 7px 30px;
    position: absolute;
    right: 0px;
} */
.searchsvg1 {
    display: none;
}

.close {
    float: right;
    position: relative;
    top: -25px;
    right: 5px;
    display: none;
}

.right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 20px;
    padding: 15px 20px;
}

iframe{
    /* border: 2px solid black; */
    height: 320px;
    width: 100%;
}

iframe {
    width: 100%;
    /* height: 100%; */
    /* height: 2400px; */
    object-fit: contain;
    border-radius: 15px;
    transition: all 0.3s;
}

iframe:hover {
    border-radius: 0px;
}

.title {
    padding: 0;
    font-size: 15px;
}

.creatorlogo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.mainplay {
    padding: 0px 5px;
}

.about {
    gap: 2px;
    flex-direction: column;

}

.viewtime {
    position: relative;
    gap: 9px;
}
 .time::before {
    content: ".";
    position: absolute;
    bottom: -1px;
    left: 52px;
    font-size: 21px;
}
iframe html body .ytp-chrome-top ,.ytp-show-cards-title{
    display: none;
}
.videoFrame{
    height:212px;
}
/* .pointer:hover{
    fill: black;
} */


@media screen and (max-width:1200px) {
    .right {
        grid-template-columns: 1fr 1fr ;
    }
    .scrollbar::-webkit-scrollbar {
        display: none !important;
    }
}
@media screen and (max-width:767px) {

    nav .searchHolder,
    .createsvg,
    .micsvg {
        display: none;
    }

    .nav {
        /* width: 100%; */
    }

    nav {
        /* position: static; */

    }

    .left {
        /* background-color: red; */
        position: fixed;
        top: 0px;
        left: -120%;
        transition: all 0.5s;
        height: 100%;
        z-index: 1;
        width: 170px;
        border: 1px solid rgb(138, 137, 137);

    }

    .right {
        width: 100vw;
        gap: 30px;
        grid-template-columns: 1fr;
        padding: 15px 0px;
    }

    .searchsvg1,
    .close {
        display: block;
    }

    iframe {
        border-radius: 0px;
    }

    .about {
        flex-direction: row;
        align-items: center;
        gap: 13px;
    }

    .views::before {
        content: ".";
        position: absolute;
        bottom: -2px;
        left: -6px;
        font-size: 25px;
    }
    .hamburger1 {
        display: block;
        width: 30px;
    }
    .hamburger {
        display: none;
    }
    .logo1 {
        display: block;
        padding: 5px 11px;
    }
    
}

