*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex{
    display: flex;
}
.gap1{
    gap: 5px;
}
.justifyContent{
    justify-content: center;
}
.alignItems{
    align-items: center;
}
.p1{
    padding: 7px;
}
.gap2{
    gap: 15px;
}
.gap3{
    gap: 25px;
}
.div1,.div3{
    display: none;
}
.pointer{
    cursor: pointer;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.fontsize{
    font-size: 13px;
}
.fontsize1{
    font-size: 11px;
}
@media screen and (max-width:767px) {
    .p1{
        padding: 0;
    }
    .none{
        display: none !important;
    }
}
.creatorlogo1{
    width: 30px;
    border-radius: 50%;
}
/* style.css */
.loader dotlottie-player{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
}

.hiddenOnLoad {
    display: none;
}
@keyframes hover {
    0%, 100% { 
        width: 110px;
        height: 105px;
        filter: drop-shadow(0 0 30px red); 
    }
    50% { 
        width: 115px;
        height: 110px;
        filter: drop-shadow(0 0 15px red);  
    }
}

#sqrx-content-container{
    height: 0px;
}

.right::-webkit-scrollbar {
    display: block;
    width: 5px;
    background-color: #f4e7e7;
}

.right::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
}

.right:hover::-webkit-scrollbar-thumb {
    background-color: #545252;
    border-radius: 5px;
    height: 20px;
}
